* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@media (max-width: 767px) {
  .container {
    max-width: 480px;
    margin: auto;
    outline: 1px solid black;
    outline-offset: -1;
  }

  .img {
    display: block;
    box-sizing: border-box;
    outline: 1px solid black;
    outline-offset: -1px;
  }

  .img1 {
    display: block;
    float: left;
    outline: 1px solid black;
    outline-offset: -1px;
  }

  .image-text-container{
    position: relative;
    display: inline-block;
    margin: 0 -4px -3px 0;
  }

  .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-upper-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
    margin: auto;
    outline: 1px solid black;
    outline-offset: -1;
  }

  #imgA {
    width: 960px;
    height: 100px;
  }

  #imgB {
    width: 200px;
    height: 600px;
  }

  #imgC {
    width: 380px;
    height: 200px;
  }

  #imgD {
    width: 380px;
    height: 200px;
  }

  #imgE {
    width: 190px;
    height: 250px;
  }

  #imgF {
    width: 190px;
    height: 250px;
  }

  #imgG {
    width: 190px;
    height: 250px;
  }

  #imgH {
    width: 190px;
    height: 250px;
  }

  #imgI {
    width: 760px;
    height: 150px;
  }

  .img {
    display: block;
    box-sizing: border-box;
    outline: 1px solid black;
    outline-offset: -1px;
  }

  .img1 {
    display: block;
    float: left;
    outline: 1px solid black;
    outline-offset: -1px;
  }

  .image-text-container{
    position: relative;
    display: inline-block;
    margin: 0 -4px -3px 0;
  }

  .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-upper-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
