* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 480px;
  margin: auto;
  outline: 1px solid black;
  outline-offset: -1;
}

.img {
  display: block;
  box-sizing: border-box;
  outline: 1px solid black;
  outline-offset: -1px;
}

.img1 {
  display: block;
  float: left;
  outline: 1px solid black;
  outline-offset: -1px;
}

/* .img, .img1 {
  border: 1px solid black;
  box-sizing: border-box;
} */

/* figure out borders */

.image-text-container{
  position: relative;
  display: inline-block;
  margin: 0 -4px -3px 0;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-upper-left {
  position: absolute;
  top: 10px;
  left: 10px;
}
